# Variáveis

Variáveis nada mais são do que uma reserva na memória onde é inserido um certo valor. Toda vez que você cria uma variável, você reserva este espaço na memória. Based on the data type of a variable, the interpreter allocates memory and decides what can be stored in the reserved memory. Therefore, by assigning different data types to variables, you can store integers, decimals or characters in these variables.

## Definição de variáveis

Python variables do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable. The equal sign (=) is used to assign values to variables. The operand to the left of the = operator is the name of the variable and the operand to the right of the = operator is the value stored in the variable. For example −

TK dizer, segundo PEP8, como nomear uma variável (camel e underscores)

In [4]:
#!/usr/bin/python

counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "John"       # A string
name2   = 'John'       # A string
string   = "John's apple"       # A string

print (counter)
print (miles)
print (name)
print(name2)
print(string)

100
1000.0
John
John
John's apple

Here, 100, 1000.0 and "John" are the values assigned to counter, miles, and name variables, respectively. This produces the following result

In [49]:
Python allows you to assign a single value to several variables simultaneously. For example −

SyntaxError: invalid syntax (<ipython-input-49-5423bc9ca405>, line 1)

In [ ]:
a = b = c = 1

print(a)
print(b)
print(c)

Here, an integer object is created with the value 1, and all three variables are assigned to the same memory location. You can also assign multiple objects to multiple variables. For example

In [ ]:
a,b,c = 1,2,"john"

print(a)
print(b)
print(c)

Here, two integer objects with values 1 and 2 are assigned to variables a and b respectively, and one string object with the value "john" is assigned to the variable c.

## Standard data types

The data stored in memory can be of many types. For example, a person's age is stored as a numeric value and his or her address is stored as alphanumeric characters. Python has various standard data types that are used to define the operations possible on them and the storage method for each of them.

Python has five standard data types −

- Numbers (inteiros, floats, complex numbers EEEE????)
- String (texto)
- List (listas)
- Tuple (tuplas)
- Dictionary (dicionários)

Lembrando que, em python, valores booleanos são variações de integers. Vamos passar a uma breve descrição de cada um destes data types para, nos próximos capítulos, nos aprofundarmos em cada um destes.

TK falei sobre todos os tipos numéricos aqui?

### Descobrindo o tipo de uma variável

Uma função que você vai utilizar bastante em Python é `type`: ele permite com que você descubra qual o tipo de dado de certa variável. Vamos realizar alguns testes com alguns tipos de dados que conhecemos.

Tomando como exemplo o número $2$, o número $2.3$ e a palavra python, temos o seguinte:

In [2]:
type(2)

int

In [4]:
type(2.3)

float

In [8]:
type("python")

str

Os resultados são `int` (número inteiro), `float` (decimal) e `str` (uma string).

Vamos analisar cada um destes tipos de dados separadamente.

### Números (numbers)

Number data types store numeric values. Number objects are created when you assign a value to them. For example

In [12]:
var1 = 1
var2 = 10

print(var1+var2)

11

Python supports four different numerical types

- int (signed integers)
- float (floating point real values)
- complex (complex numbers)

Examples:

In [ ]:
TK ver se sao somente estes tipos numericos

In [ ]:
inteiro = 1
float = 1.0
complexo = 1+2j

print(inteiro)
print(float)
print(complexo)

Observação: long integers, que costumava ser suportado por Python, não é mais: foi unificado ao tipo integer. Outra observação importante: Booleans são variações de integers

## Booleanos

In [18]:
1 == 1

True

In [20]:
1 > 12

False

In [21]:
3 != -3

True

In [22]:
1 = 1

SyntaxError: can't assign to literal (<ipython-input-22-4c0a01f26144>, line 1)

### Operadores booleanos

In [24]:
1 == 1 and 1 > 0

True

In [25]:
23 > 2 and 23 == 0

False

In [26]:
23 > 2 or 23 == 0

True

Aprofundaremos nosso conhecimento em condicionais e operadores logicos e ainda loops em breve.

### Strings

What you get from the input() function is a string. What can you do with it?

Strings in Python are identified as a contiguous set of characters represented in the quotation marks. Python allows for either pairs of single or double quotes. Subsets of strings can be taken using the slice operator ([ ] and [:] ) with indexes starting at 0 in the beginning of the string and working their way from -1 at the end.

First: Make the string into a number. Let’s say you are 100% positive that the user entered a number. You can turn the string into an integer with the function int(). (In a later exercise or two or three there will be questions about what to do when the user does NOT enter a number and you try to do this; for now don’t worry about that problem). 

The plus (+) sign is the string concatenation operator and the asterisk (*) is the repetition operator.

In [25]:
str = 'Hoje estou jóia!'

print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:5])     # Prints characters starting from index 2 to index 4
print (str[2:])      # Prints string starting from index 2 until the end
print (str[:7])      # Prints string starting from the beginning until index 4
print (str * 2)      # Prints string two times
print (str + " Demais!") # Prints concatenated string

Hoje estou jóia!
H
je
je estou jóia!
Hoje es
Hoje estou jóia!Hoje estou jóia!
Hoje estou jóia! Demais!

9

Repare que, quando usamos a notação `a:b` o index `a` é incluído, enquanto o index `b` é excluído:

In [7]:
print (str)
print (str[2:5])

Hoje estou jóia!
je

In [12]:
# Concatenação e, em seguida, a seleção de uma subsequência no resultado
(str+str)[11:18]

'jóia!Ho'

### Listas

A estrutura de dados mais básica do Python é a sequência. A cada elemento desta sequência é atribuído um número, correspondente à sua posição, ou index, como chamamos. Tenha em mente que o primeiro index é zero, o segundo é 1 e assim por diante.

Python possui seis tipos de sequências embutidos nele, porém as mais comuns são listas e tuples. Vamos estudar, neste capítulo, as listas.

Existem algumas operações que você pode efetuar com estas sequências. Estas operações incluem indexação (...), slicing(...), soma(...), multiplicação(...) e checagem (para analisar se um número pertence a aquela sequênca, por exemplo). Ainda, o Python possui algumas funções para contagem de elementos de uma lista, busca pelo maior elemento e muito mais.

No código abaixo, vamos criar uma lista e buscar o primeiro elemento dela:

In [2]:
# Criando nossa primeira lista
lista = [1,3,90,0]

# Mostrar o primeiro e o último elemento da lista
lista[0]

1

Observe que o primeiro elemento possui index, portanto quando queremos o primeiro elemento de uma lista, devemos escrever `nome_da_lista[0]`. Você pode criar uma lista com números, strings, caracteres ou qualquer putro tipo de dado

In [ ]:
Assim como em strings, em listas podemos pegar os elementos utilizando `:`, da seguinte forma:

In [50]:
lista = ["E","U"," ","S","O","U"," ","+"," ","E","U","!"]

print (lista)          # Prints complete string
print (lista[0])       # Prints first character of the string
print (lista[4:7])     # Prints characters starting from index 2 to index 4
print (lista[4:])      # Prints string starting from index 2 until the end
print (lista[:7])      # Prints string starting from the beginning until index 4

['E', 'U', ' ', 'S', 'O', 'U', ' ', '+', ' ', 'E', 'U', '!']
E
['O', 'U', ' ']
['O', 'U', ' ', '+', ' ', 'E', 'U', '!']
['E', 'U', ' ', 'S', 'O', 'U', ' ']

Listas são um tipo de dados bastante versátil em Python, de forma que podem ser escritos com valores separados por vírgulas entre colchetes.Importante: os elementos de uma lista não precisam ter o mesmo tipo de dados:

In [19]:
# Criando três listas: uma somente com strings, outra com inteiros, e a terceira misturando estes dois tipos
lista_1 = ["Você", "é", "demais!"];
lista_2 = [1, 2, 3, 4, 5];
lista_3 = [1, "b", 3, "d"]

# Exibindo alguns valores

print(lista_2[2])
print(lista_3[0])
print(lista_1[2])

3
1
demais!

AttributeError: 'list' object has no attribute 'find'

Podemos criar uma lista a partir dos elementos das três listas acima:

In [4]:
a = [lista_2[2], lista_3[0], lista_1[2]]
print (a)

# Para provar que de fato temos uma lista com estes três elementos:
type(a)

[3, 1, 'demais!']

list

Você pode atualizar um ou mais elementos de uma lista utilizando o operador de atribuição `=`, porém esta é uma maneira feia de fazer isso!

In [5]:
lista_atribuicao = [1,3,5,7,9]
lista_atribuicao[4] = 89
print(lista_atribuicao)

[1, 3, 5, 7, 89]

"E qual é a maneira bonita?", você deve estar se perguntando. A maneira bonita é utilizar insert(), da seguinte forma:

In [6]:
lista_inserindo = [1,3,5,7,9]
lista_inserindo.insert(4,89)
print(lista_inserindo)

[1, 3, 5, 7, 89, 9]

Para acrescentar um elemento à última posição da lista, podemos fazê-lo utilizando `append()`:

In [7]:
lista_append = [1,2,3,4,5]
lista_append.append("Agora acabou")
print ("Updated List : ", lista_append)

Updated List :  [1, 2, 3, 4, 5, 'Agora acabou']

Você pode também deletar elementos em uma lista. Você consegue dizer o que ocorre quando isso é feito?

In [1]:
lista = [1,2,3,"arroz",5]
del(lista[1])
print(lista)

[1, 3, 'arroz', 5]

Exatamente: a lista agora contém um elemento a menos (o segundo elemento, correspondente ao index 1, foi apagado).

Você pode deletar elementos da lista, também, da seguinte forma:

In [2]:
lista = [1,2,3,"arroz",5]
lista.remove("arroz")
print(lista)

[1, 2, 3, 5]

Para analisar o tipo de dado dentro da lista, basta utilizar `type(lista[k])` onde k é o index da lista:

In [28]:
print(lista)

[1, 3, 'arroz', 5]

In [29]:
type(lista[0])

int

In [30]:
type(lista[2])

str

Você pode até colocar listas dentro de listas (como no filme Inception, sonho dentro do sonho!)

In [33]:
lista = [1,2,[1,2,"jóia"]]
print(lista)

type(lista[2])

[1, 2, [1, 2, 'jóia']]

list

Se nós queremos pegar o último elemento da lista interna (ou seja, da lista dentro da lista), fazemos

In [34]:
lista[2][2]

'jóia'

#### Basic List Operations

In [11]:
# Contando o número de elementos em uma lista
elementos = len(lista_3)
# Concatenando listas
nova_lista = lista_2 + lista_3
# Multiplicação por uma constante
multiplicacao = lista_2*4
# "Petence a..."
pertence = 2 in lista_3

print(elementos)
print(nova_lista)
print(multiplicacao)
print(pertence)

4
[1, 2, 3, 4, 5, 1, 'b', 3, 'd']
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
False

#### Indexing, Slicing, and Matrices

Because lists are sequences, indexing and slicing work the same way for lists as they do for strings.

Assuming following input

In [27]:
L = ["eu", "Eu", "EU!!!"]

In [28]:
L[2]

'EU!!!'

No comando acima, tomamos o elemento de index 2 da lista (ou seja, o terceiro elemento)

In [29]:
L[-2]

'Eu'

No comando acima, tomamos o elemento de número 2 porém agora contando a partir da direita

In [30]:
L[1:]

['Eu', 'EU!!!']

No comando acima, tomamos os elementos de 1 até o final da lista (dois elementos no total)

Lists are the most versatile of Python's compound data types. A list contains items separated by commas and enclosed within square brackets ([]). To some extent, lists are similar to arrays in C. One difference between them is that all the items belonging to a list can be of different data type.

The values stored in a list can be accessed using the slice operator ([ ] and [:]) with indexes starting at 0 in the beginning of the list and working their way to end -1. The plus (+) sign is the list concatenation operator, and the asterisk (*) is the repetition operator. For example −

In [ ]:
#!/usr/bin/python

list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print (list)          # Prints complete list
print (list[0])       # Prints first element of the list
print (list[1:3])     # Prints elements starting from 2nd till 3rd 
print (list[2:])      # Prints elements starting from 3rd element
print (tinylist * 2)  # Prints list two times
print (list + tinylist) # Prints concatenated lists

### Tuples

A tuple is another sequence data type that is similar to the list. A tuple consists of a number of values separated by commas. Unlike lists, however, tuples are enclosed within parentheses.

The main differences between lists and tuples are: Lists are enclosed in brackets ( [ ] ) and their elements and size can be changed, while tuples are enclosed in parentheses ( ( ) ) and cannot be updated. Tuples can be thought of as read-only lists. For example −

In [16]:
#!/usr/bin/python

tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print (tuple)           # Prints complete list
print (tuple[0])        # Prints first element of the list
print (tuple[1:3])      # Prints elements starting from 2nd till 3rd 
print (tuple[2:])       # Prints elements starting from 3rd element
print (tinytuple * 2)   # Prints list two times
print (tuple + tinytuple) # Prints concatenated lists

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

The following code is invalid with tuple, because we attempted to update a tuple, which is not allowed. Similar case is possible with lists −

In [17]:
#!/usr/bin/python

tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
list = [ 'abcd', 786 , 2.23, 'john', 70.2  ]
tuple[2] = 1000    # Invalid syntax with tuple
list[2] = 1000     # Valid syntax with list

TypeError: 'tuple' object does not support item assignment

### Dictionaries

In [ ]:
Primeiro a explicacao do curso que estou fazendo

Os dicionarios possuem valores e chaves, o que significa que para cada valor existe uma chave associada (ou o contrariio), e nao indices-padrao comono caso de tuplas e listas.

In [11]:
dic = {'valor1':1,'valor2':14,'valor3':45}

In [2]:
type(dic)

dict

In [7]:
dic['valor1']

1

Repare que voce deve acessar o valor que procura atraves da chave, e nao do val;or. Olhe so a mensagem de erro.

In [6]:
dic['1']

KeyError: '1'

TK quando usar dic, listas e tuples?

A associacao de valores nao possui ordem, ou seja, buscamos os valores apenas com as chaves

In [12]:
dic['valor3']

45

Dicionarios aceitam qualquer tipo de dados, desde integers a listas.

In [13]:
dic = {'integer':1, 'lista':[1,2,3,4,5],'string':'Essa e uma string'}

In [14]:
dic['lista']

[1, 2, 3, 4, 5]

Python's dictionaries are kind of hash table type. They work like associative arrays or hashes found in Perl and consist of key-value pairs. A dictionary key can be almost any Python type, but are usually numbers or strings. Values, on the other hand, can be any arbitrary Python object.

Dictionaries are enclosed by curly braces ({ }) and values can be assigned and accessed using square braces ([]). For example −

In [ ]:
#!/usr/bin/python

dict = {}
dict['one'] = "This is one"
dict[2]     = "This is two"

tinydict = {'name': 'john','code':6734, 'dept': 'sales'}


print (dict['one'])       # Prints value for 'one' key
print (dict[2])           # Prints value for 2 key
print (tinydict)          # Prints complete dictionary
print (tinydict.keys())   # Prints all the keys
print (tinydict.values()) # Prints all the values

In [ ]:
age = input("Enter your age: ")
age = int(age)

(or, if you want to be more compact with your code)

In [ ]:
age = int(input("Enter your age: "))

In both cases, age will hold a variable that is an integer, and now you can do math with it.

(Note, you can also turn integers into strings exactly in the opposite way, using the str() function)

Second: Do math with strings. What do I mean by that? I mean, if I want to combine (concatenate is the computer science word for this) strings, all I need to do is add them:

In [ ]:
print("Were" + "wolf")
print("Door" + "man")
print("4" + "chan")
print(str(4) + "chan")

The same works for multiplication:

In [ ]:
print(4 * "test")

but division and subtraction do not work like this. In terms of multiplication, the idea of multiplyling two strings together is not well-defined. What does it mean to multiply two strings in the first place? However, it makes sense in a way to specify multiplying a string by a number - just repeat that string that number of times. Try this in your own program with all the arithmetic operations with numbers and strings - the best way to get a feel for what works and what doesn’t is to try it!

## Como detectar o tipo de variável

Sabe-se que `type()` detecta o tipo de variável de um objeto. Você pode, por exemplo, querer detectar se uma certa variável pertence a um dado tipo. Por exemplo: vamos detectar se a variável `a` é um número inteiro:

In [2]:
a = 12
isinstance(a, int)

True

## Perguntas importantes

### É possível declarar uma variável em Python sem atribuir um valor a ela?

Sim, é possível. Para realizar isto, você deve atribuir o valor `none` a ela:

In [ ]:
a = None
print(a)

A motivação por trás disso é ???.

## Naming conventions in Python

Por exemplo, para nome de funções...

Function names should be lowercase, with words separated by underscores as necessary to improve readability.. mixedCase is allowed only in contexts where that's already the prevailing style

Para variáveis, "Use the function naming rules: lowercase with words separated by underscores as necessary to improve readability."

Para saber mais, consulte as normas do PEP 8 - Style Guide for Python Code: https://www.python.org/dev/peps/pep-0008/

TK Write how to find strings

In [29]:
'test'.find('')

0